<header>
  <h1>Playbook Viewer</h1>
</header>

<main>

  <div class="playbooks">
    <ul>
      <li id="oilrig">OILRIG</li>
      <li id="sofacy">SOFACY</li>
      <li id="pickaxe">PICKAXE</li>
      <li id="patchwork">PATCHWORK</li>
      <li id="darkhydrus">DARKHYDRUS</li>
      <li id="reaper">REAPER</li>
      <li id="rancor">RANCOR</li>
      <li id="tick">TICK</li>
      <li id="dragonok">DRAGONOK</li>
    </ul>
  </div>

  <div class="campaign-info">
    <div class="campaign-description">

    </div>
    <div class="campaign-timeline">
      <ul class="timeline">

      </ul>
    </div>
  </div>

  <div class="campaign-score-board">
    <div class="intrusion"></div>
    <div class="campaign"></div>
    <div class="indicators"></div>
    <div class="attacks"></div>
  </div>

  <div class="campaign-main-info">
    <div class="title-bar">
      <div class="title-bar-sections">
        <span>RECON</span>
        <ul id="recon">

        </ul>
      </div>
      <div class="title-bar-sections">
        <span>WEAPONIZATION</span>
        <ul id="weaponization">

        </ul>
      </div>
      <div class="title-bar-sections">
        <span>DELIVERY</span>
        <ul id="delivery">

        </ul>
      </div>
      <div class="title-bar-sections">
        <span>EXPLOIT</span>
        <ul id="exploit">

        </ul>
      </div>
      <div class="title-bar-sections">
        <span>INSTALL</span>
        <ul id="install">

        </ul>
      </div>
      <div class="title-bar-sections">
        <span>COMMAND</span>
        <ul id="command">

        </ul>
      </div>
      <div class="title-bar-sections">
        <span>OBJECTIVE</span>
        <ul id="objective">

        </ul>
      </div>
    </div>
  </div>
</main>